.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

#jumbo {
    background: url(../img/home.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 20rem;
    text-align: center;
}

.tagline-catch {
    font-size: 54px;
    text-shadow: lightgray 4px 4px;
}

.about {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.img-about {
    width: 80%;
}

.img-presentation {
    width : 100%;
    
}

.img-footer {
    width : 30%;
}

section, footer {
    margin-top : 50px;
    margin-bottom: 15px;
    padding-top: 75px;
    padding-bottom: 75px;
}



.section-title {
    padding-bottom: 25px;
}

.separator {
    background: url(../img/bandeau.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 20rem;
}

.img-partenaire {
    width : 150px;
}

.partenaire-div {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#motivations {
    background-color: lightgray;
}